.container-banner {
    margin-top: 4rem;
    margin-bottom: 5rem;
}
.card {
    border: none;
}
.aframe-1 {
    background-color: #cccccc;
}
.img-logos {
    width: 8rem;
}
.card-body-2 {
    margin: 1rem;
}
.title-proyecto {
    margin: 1.5rem;
}
