.container-banner {
    margin-top: 4rem;
    margin-bottom: 5rem;
}
.aframe-1 {
    background-color: #cccccc;
}
.img-logos {
    width: 7rem;
}
.card-body-2 {
    margin: 1rem;
}
.title-proyecto {
    margin: 1.5rem;
}
footer {
    margin-bottom: 0;
    padding: 3rem 0 3rem 0;
}
